<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       

   
        <div class="navbar">
            
                <ul>
                    
                    <li> <a href="/home"> HOME</a></li>
                    <li> <a href="/about"> ABOUT</a></li>
                    <li> <a href="/wt"> WEATHER TRACKER</a></li>
                    
                    
            
                </ul>
            
        </div>


        <div class="dlogo">
        <img class="logo" src="logo.png" alt="">
        <div class="logoopener">
         <nav>
            <ul>
                <li> <a href="https://github.com/arush077">Github</a> </li>
                <li> <a href="https://www.linkedin.com/in/arush-shetty/"> LinkedIn</a></li>
            </ul>
         </nav>
        
    </div>
    </div>
        </div>

</body>
</html>