<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../home.css">
    {{!-- <link rel="stylesheet" href="../../public/home.css"> --}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body class="hbody" style="color: white;">

  


    <div class="c1" style="color: white;">
    <div class="box1">
        <h1>HOME</h1>
         <div class="navbar" style="color: white;">
            
                <ul>
                    
                    <li> <a href="/home" style="color: white;"> HOME</a></li>
                    <li> <a href="/about" style="color: white;"> ABOUT</a></li>
                    <li> <a href="/wt" style="color: white;"> WEATHER TRACKER</a></li>
                    
                    
            
                </ul>
            
        </div>


        <div class="dlogo">
        <img class="logo" src="logo.png" alt="">
        <div class="logoopener">
         <nav>
            <ul>
                <li> <a href="https://github.com/arush077">Github</a> </li>
                <li> <a href="https://www.linkedin.com/in/arush-shetty/"> LinkedIn</a></li>
            </ul>
         </nav>
        
    </div>
    </div>


            
        

    <div class="hbox2">
        
        
        
        </div>
    
    </div>
        </div>






    
</body>





</html>